# Global code owners
* @ridomin 
/dtmi/azure @montgomp
/dtmi/azureiot @digimaun
/dtmi/com/example @ridomin
/dtmi/com/demo @ridomin
/dtmi/com/smartthings @rido-min
/dtmi/contoso @ridomin
/dtmi/dev/* @ridomin
/dtmi/dev/test* @digimaun
/dtmi/my/* @digimaun
/dtmi/rido/* @ridomin

# Order matters, permissions are always additive
# Please turn on branch protection in sthe Settings/Branches to enforce owners are required to perform code reviews of PR
# More information can be found at https://github.blog/2017-07-06-introducing-code-owners/
