name: Deploy static website

on:
  push:
    branches: [ master ]
    paths-ignore:
      - ".github/**"
jobs:
  upload:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: ./.github/actions/sync-models-to-storage
        with:
          account_name: staticwebmodels
          account_key: ${{ secrets.STORAGE_KEY_ONE }}
          container_name: '$web'
          exclude_path: '.github;.git'
          exclude_pattern: '*.md;*.ps1;addModel.js;.gitignore'